# dependencias
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# producción
/build

# misc
.DS_Store
*.pem

# logs / debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# variables de entorno locales (NUNCA subir a GitHub)
.env
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
